@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  width: 95%;
  max-width: 800px;
  margin: 40px auto;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 15px;
}

header,
footer {
  background-color: #26547C;
  color: white;
  text-align: center;
  padding: 18px;
  border-radius: 5px;
}

img {
  float: right;
  margin-right: 15px;
  border-radius: 2px;
  box-shadow: 8px 8px 20px black;
  width: 180px;
}

main {
  padding: 40px 10px;
}

h1 {
  font-size: 45px;
  padding-right: 200px;
}

h3 {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.main-list {
  list-style: none;
  line-height: 24px;
}

.main-list a {
  color: #26547C;
  padding: 0 9px;
}

.main-list a:hover {
  color: #748799;
}

.main-list a + a {
  border-left: 1.8px solid #26547C;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

footer li + li {
  border-left: 1.8px solid;
}

footer li {
  padding: 0 7px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #D5DBE0;
}

.date {
  padding-bottom: 15px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    padding-right: 0;
  }
  
  img {
    width: 120px;
    margin-right: 0;
  }

  .main-list {
    padding-left: 0;
  }
}

@media screen and (max-width: 330px) {
  img {
    float: none;
  }

  h1 {
    margin-bottom: 0;
  }

}
