body {
  width: 95%;
  max-width: 800px;
  margin: 10px auto;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 14px;
}

header,
footer {
  background-color: #26547C;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

img {
  border-radius: 2px;
  box-shadow: 8px 8px 20px black;
  margin-top: 5px;
}

main {
  padding: 40px 10px;
}

h1 {
  font-size: 35px;
  margin-bottom: 0;
}

h2 {
  font-size: 16px;
  border-bottom: 1px solid;
  padding: 7px 0;
}

.main-list {
  list-style: none;
  line-height: 24px;
  padding-left: 0;
}

.main-list a {
  color: #26547C;
  padding: 0 9px;
}

.main-list a:hover {
  color: #748799;
}

.main-list a + a {
  border-left: 1.8px solid #26547C;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

footer li + li {
  border-left: 1.8px solid;
}

footer li {
  padding: 0 7px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #D5DBE0;
}
