@media only screen and (min-width: 1050px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-section-1 {
    grid-column: 1/2;
  }

  .grid-section-2 {
    grid-column: 2/3;
  }

  .grid-section-3 {
    grid-column: 3/4;
  }
}