@media only screen and (min-width: 710px) {
  body {
    font-size: 16px;
  }
  
  header {
    justify-content: center;
    padding-bottom: 15px;
  }
  
  header img {
    width: 90px;
  }

  h1 {
    font-size: 34px;
  }

  header p {
    font-size: 16px;
  }
  
  .menu-button {
    display: none;
  }

  .hide {
    display: flex;
  }

  nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }

  nav a {
    padding: 15px 20px;
  }

  .active a {
    background-color: white;
    color: #26547C;
  }

  .active a:hover {
    color: #BE2F29;
  }

  h2 {
    font-size: 24px;
  }

}