body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 15px;
  color: #141414;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

header,
footer,
nav {
  background-color: #26547C;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 15px 0 0;
}

header img {
  max-width: 100%;
  width: 65px;
  margin-right: -6px;
}

.headings {
	display: flex;
  flex-direction: column;
}

h1 {
  font-size: 23px;
  margin-bottom: 0;
}

header p {
  font-size: 11px;
  margin-top: 0;
}

.menu-button {
  font-size: 17px;
  text-align: center;
  padding: 15px;
}

nav ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px;
}

.active {
  background-color: rgba(0, 0, 0, 0.4);
}

nav a:hover {
  color: #F8B62D;
}

.hide {
  display: none;
}

main {
  width: 95%;
  max-width: 800px;
  margin: 10px auto;
}

h2 {
  color: #BE2F29;
  padding: 15px 0 10px;
  border-bottom: 1px solid;
  max-width: 300px;
  font-size: 20px;
  margin: 30px 0;
}

.container {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #EBEBEB;
}

footer {
  padding: 20px;
  max-width: 900px;
  margin: 40px auto 0;
  font-size: 13px;
  text-align: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
}

footer li + li {
  border-left: 1.8px solid;
}

footer li {
  padding: 0 6px;
  list-style: none;
}