body {
  text-align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
  margin: 0;
}

main {
  max-width: 1020px;
  margin: 30px auto;
}

header {
  border-bottom: 5px double;
  padding: 30px;
  background-color: #26547C;
  color: white;
}

h1 {
  margin: 0;
}

section {
  width: 225px;
  padding: 20px 10px;
  margin: 10px auto;
  box-shadow: 1px 1px 5px #7a7a7a;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

p {
  font-size: 13px;
}

img {
  max-width: 200px;
}

footer {
  background-color: #26547C;
  color: white;
  padding: 20px;
  border-top: 5px double;
}

@media only screen and (min-width: 550px) {
  header {
    font-size: 24px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1050px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}