body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 15px;
}

#pancake-banner {
  text-align: center;
  background-color: #F8B62D;
  padding: 20px 10px;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

header,
footer,
nav {
  background-color: #26547C;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 15px 0 0;
}

header img {
  max-width: 80px;
  margin-right: -6px;
}

.headings {
	display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.motto {
  font-size: 12px;
  margin-top: 0;
}

.menu-button {
  font-size: 17px;
  text-align: center;
  padding: 15px;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 20px;
}

.active {
  background-color: rgba(0, 0, 0, 0.4);
}

nav a:hover {
  color: #F8B62D;
}

.hide {
  display: none;
}

main {
  width: 95%;
  max-width: 900px;
  margin: 0px auto;
}

h2 {
  color: #BE2F29;
  padding: 15px 0;
  border-bottom: 1px solid;
  max-width: 300px;
  font-size: 28px;
  margin: 30px 0;
}

.hero-container {
  margin-top: 40px;
}

.hero-img img {
  max-width: 100%;
}

.summary-bg {
  background-color: #EBEBEB;
  margin-top: 40px;
}

.weather-summary {
  margin: 0 auto;
  max-width: 300px;
  padding: 40px 20px 50px;
}

.weather-heading {
  margin: 0;
}

.current-temp-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
}

.current-temp {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-right: 24px;
}

.current-temp-img {
  width: 128px;
  max-width: 100%;
}

.weather-container {
  display: flex;
  justify-content: space-between;
}

.temps {
  margin-left: 50px;
}

.weather-container p {
  margin-top: 5px;
  margin-bottom: 0;
}

h3 {
  color: #BE2F29;
  font-size: 24px;
  text-align: center;
}

.forecast-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.forecast {
  text-align: center;
}

.forecast-img {
  display: block;
  max-width: 100%;
  width: 128px;
}

.container {
  margin: 40px 0;
  padding: 20px;
  background-color: #EBEBEB;
}

.rodeo-heading {
  margin-bottom: 40px;
}

.rodeo-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.rodeo-paragraph {
  line-height: 24px;
  padding-top: 10px;
}

figure {
  text-align: center;
  margin: 20px 0;
}

figcaption {
  padding-top: 7px;
}

.storm-div {
  max-width: 650px;
  margin: 40px auto;
}

fieldset {
  max-width: 710px;
  margin: 40px auto;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

legend {
  padding: 0 10px;
}

.star {
  color: #BE2F29;
}

.label-top input, .label-top select, textarea {
  display: block;
  padding: 10px;
  max-width: 400px;
  width: 90%;
  margin: 10px 0 30px;
}

.label-top input {
  height: 25px;
}

.severity {
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.severity-div {
  max-width: 300px;
  margin: 0 0 30px;
}

#rating {
  margin-left: 10px;
}

.danger-div {
  margin: 30px 0 10px;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  padding: 3px;
}

.radio-label input {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

textarea {
  height: 100px;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 15px;
  background-color: #26547C;
  color: #ebebeb;
}

button:hover {
  background-color: #18334c;
}

.thanks {
  padding: 20px;
  text-align: center;
  line-height: 22px;
}

.main-home {
  width: 100%;
}

.home-img img {
  width: 100%;
}

.sections-div {
  margin: 30px 0;
}

.sections-div section {
  margin: 30px auto;
  padding: 20px 5px 15px;
  width: 280px;
  text-align: center;
  background-color: #EBEBEB;
}

.info-div {
  padding: 0 15px;
}

.sections-div h2 {
  border-bottom: none;
  padding: 0;
  margin: 0 auto;
}

.town-motto {
  font-size: 13px;
  margin: 5px 0 20px;
  min-height: 32px;
}

.info-div {
  margin-bottom: 30px;
}

.sections-div img {
  max-width: 90%;
}

footer {
  font-size: 14px;
  text-align: center;
}

.map-contact-div {
  padding: 50px 10px;
}

.map {
  max-width: 100%;
}

.contact-div {
  padding-top: 20px;
}

.contact-div ul {
  padding-left: 0;
}

.contact-div li {
  list-style: none;
  line-height: 22px;
  text-align: center;
}

.contact-info {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 8px;
}

.social-icon {
  width: 25px;
  padding: 0 5px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  margin: 0;
  background-color: #18334c;
}

.footer-list li + li {
  border-left: 1.8px solid;
}

.footer-list li {
  padding: 0 6px;
  list-style: none;
}

footer a {
  color: #ffffff;
}