@media only screen and (min-width: 900px) {
  body {
    font-size: 20px;
    }  


  nav {
    font-size: 20px;
  }
  

  .form-container {
    display: flex;
    justify-content: center;
  }

  .form-container fieldset {
    width: 480px;
  }

  .fieldset-1 {
    margin: 10px 10px 10px 0;
  }

  .fieldset-2 {
    margin: 10px 0 10px 10px;
  }

  .form-fieldset {
    margin: 0 auto;
  }

  form label{
    font-size: 18px;
  }


  .contact-container {
    display: flex;
    justify-content: center;
  }

  .contact-container form {
    width: 480px;
    margin-bottom: 30px;
  }

  .contact-info {
    width: 480px;
    margin: auto 0;
  }

  .contact {
    text-align: left;
    width: 400px;
    margin-top: 5px;
  }


  .response {
    width: 480px;
  }


  .event {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 40px auto;
  }

  .event img,
  .event div {
    width: 50%;
    margin: 20px;
  }


  .home-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
  }

  .home-section p,
  .home-section img {
    width: 400px;
    padding: 15px;
  }

  .weather-summary {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px #7a7a7a;
    max-width: 925px;
    margin-top: 40px;
  }

  .weather {
    width: 250px;
  }

  .weather h2 {
    text-align: center;
  }
  

  footer {
    padding: 0;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-lg {
    display: block;
    margin: auto 30px;
  }

  .footer-logo-lg img {
    width: 100px;
  }
    
  .contact-div {
    display: flex;
    justify-content: space-around;
    margin: 0 30px 20px;
  }

  .contact-list, .hours-list {
    width: 360px;
  }

  .footer-list {
    font-size: 18px;
  }
}