@media only screen and (min-width: 900px) {
  body {
    font-size: 20px;
    }  


  nav {
    font-size: 20px;
  }
  

  .form-container {
    display: flex;
    justify-content: center;
  }

  .form-container fieldset {
    width: 480px;
  }

  .fieldset-1 {
    margin: 10px 10px 10px 0;
  }

  .fieldset-2 {
    margin: 10px 0 10px 10px;
  }

  .form-fieldset {
    margin: 0 auto;
  }

  form label{
    font-size: 18px;
  }


  .contact-container {
    display: flex;
    justify-content: center;
  }

  .contact-container form {
    width: 480px;
    margin-bottom: 30px;
  }

  .contact-info {
    width: 480px;
    margin: auto 0;
  }

  .contact {
    width: 290px;
    margin-top: 10px;
  }


  .response {
    width: 480px;
  }




  
  footer {
    padding: 0;
  }

  .footer-logo {
    display: none;
  }

  .footer-logo-lg {
    display: block;
    margin: auto 30px;
  }

  .footer-logo-lg img {
    width: 100px;
  }
    
  .contact-div {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
  }

  .contact-list, .hours-list {
    width: 360px;
  }

  .footer-list {
    font-size: 18px;
  }
}