@media only screen and (min-width: 650px) {
  body {
    font-size: 18px;
  }

  header {
    padding-bottom: 0;
  }

  .header-logo {
    padding-bottom: 0;
  }
  
  nav {
    background-color: #EEE;
    font-size: 16px;
  }

  .menu-button {
    display: none;
    font-size: 30px;
    padding-right: 10px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul.hide {
    display: flex;
  }

  nav a {
    color: #004664;
  }

  .active {
    background-color: #EEE;
  }

  .active a {
    color: #6DAABF;
    border-bottom: 2px solid;
  }

  a:hover {
    color: #E9962B;
  }

  nav a:hover {
    border-bottom: 2px solid;
  }


  .contact {
    width: 260px;
  }

    
  .footer-list {
    font-size: 16px;
  }
}