body {
  font-family: 'Cairo', sans-serif;
  color: #262737;
  background-color: #eee;
  max-width: 100%;
}


h1,
h2,
h3,
.level {
  font-family: "Changa", sans-serif;
  color: #004664;
}

h1,
h2 {
  text-align: center;
}

nav,
h4 {
  font-family: "Changa", sans-serif;
}

a {
  text-decoration: none;
  color: #004664;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

p {
  line-height: 24px;
  color: #000E14;
}


header {
  text-align: center;
}

.header-logo {
  width: 150px;
  padding: 40px 40px 30px;
}


.menu-button {
  font-size: 25px;
  padding-right: 12px;
}

nav {
  text-align: right;
  max-width: 1300px;
  background-color: #004664;
  padding: 10px 0;
  margin: 0 auto;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  padding: 10px;
}

nav a, .footer-list a {
  color: #eee;
}

a:hover {
  color: #E9962B;
}

.active {
  background-color: #6DAABF;
}

.hide {
  display: none;
}

.banner-img {
  max-width: 100%;
}


main {
  width: 1300px;
  max-width: 95%;
  margin: 20px auto;
}


fieldset {
  border: 1px solid;
  margin: 10px;
}

fieldset div {
  max-width: 800px;
  margin: 0 auto;
}

legend {
  color: #004664;
  text-align: center;
  padding: 20px 10px;
}

label {
  display: block;
}

.star {
  color: #BE2F29;
}

input {
  width: 95%;
  padding: 5px;
  margin: 5px 0 30px;
}

textarea {
  width: 93.5%;
  height: 100px;
  padding: 10px;
  margin: 5px 0;
}

.form-fieldset {
  max-width: 1020px;
  margin: 10px;
}

.radio-label {
  max-width: 1300px;
  width: 100%;
  margin: 20px 0;
}

.radio-label span {
  display: block;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  background-color: #FFFFFF;
  padding: 20px;
}

input[type=radio] + label:hover {
  border: 1px solid #6DAABF;
}

input[type=radio]:checked + label {
  border: 1px solid #E9962B;
}

.button {
  text-align: center;
  padding: 40px 0;
}

button {
  background-color: #004664;
  color: #EEE;
  border: none;
  padding: 10px 15px;
}

button:hover {
  background-color: #6DAABF;
}


footer {
  text-align: center;
  border-top: 1px solid #004664;
  padding-top: 40px;
}

.footer-logo {
  width: 80px;
}

.contact-list, .hours-list {
  margin: 40px 0;
}

.footer-list {
  font-size: 14px;
  background-color: #004664;
  color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
}

.footer-list li {
  margin: 10px;
  padding: 0 6px;
}

.social-list {
  background-color: #004664;
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-list a {
  display: inline-block;
  padding: 5px 5px 10px;
}



.cards img {
  width: 250px;
}
